In [1]:
from pytrends.request import TrendReq
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
from config import gkey

In [2]:
pytrends = TrendReq(hl='en-US', tz=360)

In [3]:

kw_list = ['Tesla']
pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='US-CA',gprop='')

In [4]:
pytrends.interest_by_region(resolution = 'CITY')

                                              Tesla
geoName
Bakersfield CA                                   32
Chico-Redding CA                                 38
Eureka CA                                        43
Fresno-Visalia CA                                39
Los Angeles CA                                   61
Medford-Klamath Falls OR                          3
Monterey-Salinas CA                              61
Palm Springs CA                                  53
Reno NV                                           6
Sacramento-Stockton-Modesto CA                   59
San Diego CA                                     61
San Francisco-Oakland-San Jose CA               100
Santa Barbara-Santa Maria-San Luis Obispo CA     61
Yuma AZ-El Centro CA                             14

In [5]:
pytrends.interest_over_time()

            Tesla isPartial
date
2013-09-08     14     False
2013-09-15     14     False
2013-09-22     14     False
2013-09-29     20     False
2013-10-06     14     False
2013-10-13     13     False
2013-10-20     13     False
2013-10-27     14     False
2013-11-03     18     False
2013-11-10     15     False
2013-11-17     13     False
2013-11-24     10     False
2013-12-01     11     False
2013-12-08     10     False
2013-12-15     11     False
2013-12-22     10     False
2013-12-29      9     False
2014-01-05     10     False
2014-01-12     11     False
2014-01-19     10     False
2014-01-26     11     False
2014-02-02     11     False
2014-02-09     11     False
2014-02-16     16     False
2014-02-23     18     False
2014-03-02     14     False
2014-03-09     15     False
2014-03-16     13     False
2014-03-23     13     False
2014-03-30     15     False
...           ...       ...
2018-02-11     26     False
2018-02-18     24     False
2018-02-25     21     False
2018-03-04     21     False
2018-03-11     21     False
2018-03-18     22     False
2018-03-25     35     False
2018-04-01     31     False
2018-04-08     25     False
2018-04-15     25     False
2018-04-22     24     False
2018-04-29     27     False
2018-05-06     27     False
2018-05-13     26     False
2018-05-20     27     False
2018-05-27     24     False
2018-06-03     24     False
2018-06-10     28     False
2018-06-17     27     False
2018-06-24     26     False
2018-07-01     29     False
2018-07-08     28     False
2018-07-15     27     False
2018-07-22     30     False
2018-07-29     36     False
2018-08-05     38     False
2018-08-12     33     False
2018-08-19     33     False
2018-08-26     28     False
2018-09-02     27      True

[261 rows x 2 columns]